span {
    /* border: 1px solid red; */
    position: relative;
    left: 110px;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

button .like-button {
    color: #737380;
}

.input-item {
    /* border: 1px solid red; */
    
    width: 150px;
    display: flex;
    
    align-items: center;
}

.searchBtn {
    width: 1em;
    height: 1em;
    margin-top: 6px;
}

.inputSearch { 
    width: 100%;
    min-width: 102px;
    height: 2.7vh;
    min-height: 16px;
    color: white;
}

.children-content {
    margin-left: 15px;
}
