.like-button {
    background: transparent;
    cursor: pointer;
}

.button-heart {
    width: 28px;
    height: 26px;
}

button .like-button {
    color: #737388;
}

svg path .liked {
    fill: red;
}

