* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #0a1325;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  li {
    list-style-type: none;
  }
  