.firedev-modal {
    font-family: 'Poppins';
    padding: 13px;
    border-radius: 8.5px;
    width: 60%;
    min-width: 350px;
    height: 61%;
    min-height: 270px;
    background: #F3F2F2;
    color: black;
    position: absolute;
    top: 25%;
    left: 20%;
    display: flex;

    justify-content: center;
    align-items: center;

}

.firedev-modal-wrapper {
    height: 420px;
    width: 100%;
    display: flex;


    justify-content: space-between;
}

.firedev-img img {
    padding-right: 38px;
    padding-left: 10px;
    border-radius: 4.2px;
    width: 300px;
    height: 97%;
}

.firedev-modal-content {
    width: 70%;
    height: 70%;
    display: flex;

    flex-direction: column;
}

.header-text-modal {
    padding-right: 50px;
    display: flex;

    
    justify-content: space-between;
}

.heart-icon {
    
    width: 40px;
    height: 35px;
}

.header-text-modal h1 {
    font-weight: 700;
    font-size: 30px;
}

.header-text-modal p {
    border: 1px solid red;
}

.content-modal {
    padding-top: 30px;
    padding-right: 90px;
    display: flex;


    flex-direction: column;
    align-items: flex-start;
    
}



.content-modal h2 {
    padding: 29px 0 29px 0;
}

.content-modal p{
    padding-bottom: 21px;
}