

.firedev-modal {
    width: 70vw;
    min-width: 450px;
    max-width: 850px;
    height: 60vh;
    min-height: 270px;

    padding: 13px;
    
    font-family: 'Poppins';
    font-size: 1.1vh;
    color: black;
    
    border-radius: 8.5px;
    background: #F3F2F2;
    
    position: fixed;
    top: 25%;
    left: 20%;
    
    display: flex;

    justify-content: center;
    align-items: center;

}

.firedev-modal-wrapper {
    height: 72vh;
    width: 100%;

    font-size: 1.1vw;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.firedev-img img {
    width: 40vh;
    height: 50vh;

    padding-right: 38px;
    padding-left: 10px;
    border-radius: 4.2px;
}

.firedev-modal-content {
    width: 80vw;
    height: 70%;
    max-width: 500px;
    
    font-size: 1.4vh;

    display: flex;

    flex-direction: column;
}

.header-text-modal {
    width: 45vh;
    
    display: flex;
    
    justify-content: space-between;
}

.heart-icon {
    width: 40px;
    height: 35px;
}

.header-text-modal h1 {
    font-weight: 700;
    font-size: 2vw;
    max-width: 500px;
    
}

.content-modal {
    width: 45vw;
    height: 40vh;
    font-size: 1vw;
    max-width: 500px;
    margin-top: 20px;
    
    padding-right: 90px;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    
}

.content-modal p {
    font-size: 1.5vh;
}

.content-modal h2 {
    margin-top: 20px;
}
