@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@600&display=swap');

header {
  
  width: 100vw;
  height: 68px;
  display: flex;
  align-items: center;

}

nav {
  width: 100%;
}

.firedev-nav-content {
  padding-right: 2vw;
  font-size: 1.5vh;
  color: #fff;

  display: flex;
  flex-direction: row nowrap;
  
  justify-content: space-between;
}

.firedev-logoImg {
  width: 20vh;
  max-width: 148px;
  min-width: 63px;
  margin-bottom: 5px;
}

.firedev-menu-content {
  /* border: 1px solid red; */
  
  width: 25vw;
  
  padding-right: 60px;
  padding-left: 1%;

  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.firedev-link {
  
  padding-left: 15px;
}

.firedev-nav-search {
  width: 40%;
  
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.firedev-nav-search input {
  
  border: none;
  border-radius: 5px;
  
  background-color: rgba(255, 255, 255, 0.02);
}

